.tweet-post {
    display: flex;
    padding: 8px 1rem;
    margin-bottom: 1rem;
}

.tweet-post__profile-picture {
    
}

.tweet-post__right {
    flex: 1;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    
}

.tweet-post__right-names {
    flex: 1;
    display: flex;
    
}

.tweet-post__right-names p {
    margin-bottom: 0rem;
}

.tweet-post__right-names p:nth-child(1){
    color: var(--dark);
    /* VT323 Font/XS */
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    
}

.tweet-post__right-names p:nth-child(2){
    margin-left: 5px;
    color: var(--dark-gray);
    /* VT323 Font/XS */
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
}

.tweet-post__right-body {
    flex: 1;
    display: flex;
    width: 100%;
    margin: 12px 0px;
    
   
}

.tweet-post__right-body p{
    margin: 0rem;
    color: var(--dark);
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    
    word-wrap: break-word;
    
}

.tweet-post__right-buttons {
    flex: 1;
    margin-right: 3rem;
    gap: 24px;
}

.tweet-post__right-buttons {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

@media screen and (max-width : 500px) {
    .tweet-post {
        
    }

    .tweet-post {
        
    }

    .tweet-post__right{
        
        overflow: hidden;
    }

    .tweet-post__right-names{
        margin: 0rem 0rem;
    }
    

    .tweet-post__right-body {
        margin-left: 0rem;
        
    }

    .tweet-post__right-buttons {
        margin: 0rem 0rem;
    }
}

@media screen and (max-width : 360px) {

    .tweet-post {
        margin: 0rem;
    }

    .tweet-post__right {
        display: flex;
        flex-direction: column;
    }

    .tweet-post__right-body {
        margin-left: 0rem;
        
    }
}