.profilePagePicture {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    overflow: hidden; /* Clip the content outside the circular frame */
    background-color: black; /* Set the background color for the circular frame */
    display: flex;
    justify-content: center;
    align-items: center;
}



.profilePagePicture-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Scale the image while maintaining its aspect ratio */
    border-radius: 50%; /* Make the image circular */
    background-color: transparent;
}